.doctor{
  justify-content: center;
  margin-bottom: 11.5rem;
}
.doctorTitle{
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: bold;
}
.doctorContainer {
	
	background-image: url("../imgs/bg-1.jpg");
  
	

	
	height: 100%; 
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  
	 min-height: 100vh;
	
}
/* .receptionistDashboard{
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0, 0.7); 
	color: white;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 20px;
	text-align: center;
} */
.doctorButton{
    width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  top: 0;
  transition: top ease 0.5s;
  background-color:rgb(224, 223, 230);
  
  
}
.doctorButton:hover{
  top: -20px;
}
.buttonText{
  margin-top: 4rem;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.7rem;
  color: black;
}
.recLogo{
  width:55%;
}
.docCol{
  margin-left: 10rem;
}